<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="$(var.GazeNetClient.TargetName)" Language="1033" Version="1.0.0.0" Manufacturer="University of Tampere" UpgradeCode="c55e7bad-73cf-4b4c-857c-56a2c6eafb7a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.GazeNetClient.TargetName) is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="GazeNetClient" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
        <File Source="$(var.GazeNetClient.TargetPath)" />
        <File Source="$(var.GazeNetClient.TargetDir)websocket-sharp.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

  <Directory Id="ProgramMenuFolder">
    <Directory Id="ApplicationProgramsFolder" Name="$(var.GazeNetClient.TargetName)">
      <Component Id="ApplicationShortcut" Guid="4CEBD68F-E933-47f9-B02C-A4FC69FDB551">
        <Shortcut Id="Shortcut"
            Name="$(var.GazeNetClient.TargetName)"
            Description="$(var.GazeNetClient.TargetName)"
            Target="[INSTALLLOCATION]GazeNetClient.exe"
            WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      </Component>
    </Directory>
  </Directory>
</Wix>
